/*
Title:                 joelglovier.com main stylesheet
Author:                Joel A. Glovier
Author email:          me@joelglovier.com
Author URI:            http://joelglovier.com
Copyright:             Joel Andrew Glovier 2011
Created:               10/8/2011
Version:               1.0
*/

/* Conventions: */

/* Main Categories -------------------- */

  /* sub categories */



/* @group Wallpaper main -------------------- */

.wallpaper-home header{
	width:220px;
	margin-left:20px;
	margin-right:9px;
	position:fixed;
	top:0px;
	text-align:center;
	text-shadow:none;
	float:left;
}
.wallpaper-home .initials{
	text-align:center;
	font-family:league-gothic;
	font-size:235px;
	letter-spacing:-10px;
	line-height:200px;
	border-bottom:4px double #ebe7d4;
	margin-top:20px;
	margin-bottom:2px;
	padding-bottom:10px;
	-webkit-mask-box-image:url(/img/goodnews-img-mask.png) stretch;
	-moz-mask-box-image:url(/img/goodnews-img-mask.png) stretch;
	mask-box-image:url(/img/goodnews-img-mask.png) stretch;
}
.wallpaper-home .initials a{
	text-decoration:none;
	color:#1e77b3;
}
.wallpaper-home .initials a:hover{
	color:#bed3d5;
}
.wallpaper-home nav{
	overflow:hidden;
	list-style:none;
	text-align:center;
	margin-bottom:20px;
	margin-left:5px;
	border-bottom:4px double #ebe7d4;
	padding-bottom:2px;
}
.wallpaper-home .nav-link{
	font-family:league-gothic;
	font-size:28px;
	color:#bed3d5;
	text-transform:uppercase;
	text-decoration:none;
	display:inline-block;
}
.wallpaper-home .nav-link.home{
	border-right:1px solid #ebe7d4;
	padding-right:30px;
}
.wallpaper-home .nav-link.usage{
	padding-left:30px;
}
.wallpaper-home .nav-link:hover{
	color:#1e77b3;
}
.wallpaper-home header{
	text-align:center;
}
.wallpaper-home header img{
	margin-top:55px;
}

  /* page content */

.wallpaper-home .page-content{
	width:720px;
	padding-left:10px;
	border-left:1px solid #ebe7d4;
	margin-left:249px;
}
.wallpaper-home h1{
	text-align:center;
	font-family:league-gothic;
	font-size:235px;
	letter-spacing:-5px;
	line-height:200px;
	text-transform:uppercase;
	color:#bed3d5;
	padding-top:20px;
	-webkit-mask-box-image:url(/img/goodnews-img-mask.png) stretch;
	-moz-mask-box-image:url(/img/goodnews-img-mask.png) stretch;
	mask-box-image:url(/img/goodnews-img-mask.png) stretch;
}
.wallpaper-home .sub-head{
	font-size:52px;
	font-family:league-gothic;
	color:#609dc1;
	text-transform:uppercase;
	/*border-bottom:4px double #ebe7d4;
	margin-bottom:15px;*/
	padding-left:20px;
	line-height:60px;
}
.wallpaper-home .description{
	padding-left:20px;
	margin-bottom:20px;
	font-size:13px;
}

  /* wallpaper thumbnails */

.wallpaper-home .directory{
	overflow:hidden;
}
.wallpaper-link{
	list-style:none;
	display:inline-block;
	width:220px;
	margin-right:20px;
	margin-bottom:20px;
}
.wallpaper-link.end{
	margin-right:0;
}
.wallpaper-link a{
	display:block;
	width:220px;
	height:186px;
	background:url(/img/display.png) no-repeat center top;
	float:left;
	position:relative;
}
.wallpaper-link a img{
	position:absolute;
	top:10px;
	left:9px;
	background:#fff;
	z-index:1;
}
.wallpaper-link:hover a img{
	opacity:.75;
}
.wallpaper-link a .file-link{
	display:block;
	width:202px;
	height:126px;
	text-align:center;
	line-height:126px;
	background:#fff;
	background:rgba(255,255,255,.8);
	position:absolute;
	top:10px;
	left:9px;
	z-index:2;
	font-family:Kondolar-Italic;
	opacity:0;
	-moz-transition:opacity .2s ease;
	-webkit-transition:opacity .2s ease;
}
.wallpaper-link:hover a .file-link{
	opacity:1;
}
/* @end wallpaper main */


/* @group file view page -------------------- */

body#file-view-page{
	padding:20px;
}

.file-display{
	margin-left:200px;
}
.file-display img{
	max-width:100%;
	-webkit-box-shadow:0px 0px 4px rgba(0,0,0,.25),0px 10px 10px rgba(0,0,0,.25);
	-moz-box-shadow:0px 0px 4px rgba(0,0,0,.25),0px 10px 10px rgba(0,0,0,.25);
	box-shadow:0px 0px 4px rgba(0,0,0,.25),0px 10px 10px rgba(0,0,0,.25);
}


/* sidebar section */

sidebar.file-details{
	width:180px;
	display:block;
	position:fixed;
	top:20px;
}
.file-details .branding{
	width:100%;
	font-family:league-gothic;
	display:block;
	font-size:220px;
	line-height:180px;
	color:#1e77b3;
	margin-bottom:5px;
	padding-bottom:10px;
	letter-spacing:-10px;
	border-bottom:4px double #cac4b3;
	-webkit-mask-box-image:url(/img/goodnews-img-mask.png) stretch;
	-moz-mask-box-image:url(/img/goodnews-img-mask.png) stretch;
	mask-box-image:url(/img/goodnews-img-mask.png) stretch;
}
.file-details h1{
	font-family:league-gothic;
	text-transform:uppercase;
	font-weight:normal;
	font-size:22px;
	text-align:center;
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:4px double #cac4b3;
	color:#d74c15;
	-webkit-mask-box-image:url(/img/404-mask.png) stretch;
	-moz-mask-box-image:url(/img/404-mask.png) stretch;
	mask-box-image:url(/img/404-mask.png) stretch;
}
.file-details .description{
	font-size:12px;
	padding:10px;
	border-bottom:4px double #cac4b3;
	margin-bottom:10px;
	font-family:Kondolar-Italic;
}
.file-details .back-2-dir,.file-details .terms{
	display:block;
	text-align:center;
	font-family:Kondolar-Italic;
	font-size:12px;
	text-decoration:none;
}
.file-details .back-2-dir{

}

/* @end file view page */




/* @group JAG ads styles -------------------- */

    /* JAG Ads styles */

#jag-ads{
	margin-left:20px;
	margin-right:9px;
	position:fixed;
	bottom:0px;
	width:220px;
	text-align:center;
}
#jag-ads .ad-wrap{
	background:#F1E5D1; /* light red */
	background:#EBE9D8; /* light tan */
	overflow:hidden;
	display:block;
	padding:5px;
	border-top:4px solid #ECC8AE;
	border-color:#E3DCC7; /* light tan */
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}
#jag-ads a {
	display:block;
	text-decoration: none;
}
#jag-ads img {
	opacity:.8;
	transition:opacity 1s ease;
	-moz-transition:opacity 1s ease;
	-webkit-transition:opacity 1s ease;
	border-radius:4px;
	padding:0;
	border:none;
}
#jag-ads .ad:hover img {
	opacity:1;
}
#jag-ads .ad-title,#jag-ads .ad-description{
	color:#8E8B82;
	transition:color 1s ease;
	-moz-transition:color 1s ease;
	-webkit-transition:color 1s ease;
}
#jag-ads .ad-img {
	display:block;
	padding:0;
	float:none;
	margin:0 0 5px;
}
#jag-ads .ad-title {
	color:#8e8b82;
	font-size:12px;
	font-family:Kondolar-Regular;
	font-weight:bold;
	line-height: 125%;
	padding: 0 0 5px;
}
#jag-ads .ad-description {
	text-decoration:none;
	font-size:11px;
	padding:0px 0px;

}
#jag-ads .ad:hover .ad-title,#jag-ads .ad:hover .ad-description{
	color:#1a4969;
}

#jag-ads #jagad-link {
	background:#EBE9D8;
	margin:5px 0px;
	text-decoration:none;
	color:#8E8B82;
	font-size:10px;
}
#jag-ads #jagad-link:hover {
	background:#F1E5D1;
	color:#D74C15;
}

  /* styles for file download page */

  #file-view-page #jag-ads {
  	margin-left: 0;
  	margin-right: 0;
  	width: auto;
  }


/* @end ad styles */
